* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

:root {
	font-size: 1rem;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Kanit', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}