* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

:root {
	font-size: 16px;

	--background-colour: #F5F5F5;
	--dark-grey: #3B3B3B;
	--grey: #707070;
	--grey2: #808080;
	--blue-grey: #20252C;
	--red: #FF3C3C;
	--teal: #54E4E4;
	--white: #FDFDFD;
	--green: #2ECC71;
	--transparent-black: rgba(0,0,0,0.25);
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Kanit', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}