---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";

const todayDate = new Date();
const redirectToMonth = true;

if (redirectToMonth) {
	switch (todayDate.getMonth()) {
		case 0:
			return Astro.redirect('/january');
		case 1:
			return Astro.redirect('/february');
		case 2:
			return Astro.redirect('/march');
		case 3:
			return Astro.redirect('/april');
		case 4:
			return Astro.redirect('/may');
		case 5:
			return Astro.redirect('/june');
		case 6:
			return Astro.redirect('/july');
		case 7:
			return Astro.redirect('/august');
		case 8:
			return Astro.redirect('/september');
		case 9:
			return Astro.redirect('/october');
		case 10:
			return Astro.redirect('/november');
		case 11:
			return Astro.redirect('/december');
	}
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Calendar</title>
	</head>
	<body>
		<BaseLayout>
			
		</BaseLayout>
	</body>
</html>

<style>
</style>