---
import "../styles/global.css";
const { day } = Astro.props; 

const todayDate = new Date();
const dayOfWeek = todayDate.getDay();
const daysOfWeek = [
	"SUN",
	"MON",
	"TUE",
	"WED",
	"THU",
	"FRI",
	"SAT",
];
const dayName = daysOfWeek[dayOfWeek];
const isToday = day === dayName;
---

<div class={`heading__cell ${isToday ? 'current__day' : ''}`}>{day}</div>

<style>
  .heading__cell {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		font-size: 1.75rem;
		font-weight: bold;
		color: var(--grey2);
	}

	.current__day {
		color: var(--green);
	}
</style>